<div class="container card">

    <div class="row">
        <div class="col-4 title">
            <h4 class="col-12">Job Title</h4>
            <h3 class="col-12"><strong>Front End Developer</strong></h3>
        </div>
        <div class="col-4 employer">
            <h4 class="col-12">Employer</h4>
            <h3 class="col-12"><strong>D150 Fueling, LLC</strong></h3>
        </div>
        <div class="col-4 location">
            <h4 class="col-12">Location</h4>
            <h3 class="col-12"><strong>Newark, DE</strong></h3>
        </div>

        <div class="col-12 duration">
            <p><strong>Duration:</strong> January 1, 2018 - June 1, 2018</p>
        </div>

    </div>
    <hr>

    <div class="description">
        <h3>Job Details:</h3>
        <ul>
            <li>This was a remote role where I worked alone to develop <a href="https://www.d150fueling.com">D150Fueling.com</a>
            </li>
            <li>I reported to my manager weekly using Agile methodologies</li>
        </ul>
    </div>

    <div class="skills">
        <h3>Technologies Used:</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Google Domains</li>
            <li>GSuite</li>
        </ul>
    </div>


</div>
