<div class="container mx-auto d-block">
    <div class="section1 row">
        <!--instead of mx-auto and d block, can do text-center on cointianer -->
        <div class="intro">
            <br>
            <!-- Image by default is displayed as inline-block, you need to display it as block in order to center it with .mx-auto. This can be done with built-in .d-block -->
            <img src="../../assets/IMG_7099%20-%20Copy.JPG" alt="My face :)" class="profileimg mx-auto d-block">
            <div class="title">
                <h1>BRIAN KUNGL</h1>

            </div>

            <div class="shortbio text-center">
                <p> I'm a cybersecurity graduate student with a computer science background seeking relevant roles. I’m interested in security-focused programming and developing visually pleasing web documents. I am a competitive rower, hands-on learner, and strive to learn and fix new things from computers to garage doors. </p>
            </div>
        </div>
        <br>
    </div>
</div>
