<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="hold mx-auto d-block no-gutters">
    <div class="section1">
        <!--instead of mx-auto and d block, can do text-center on cointianer -->
        <div class="intro row">

            <div class="left col-lg-4 offset-lg-1">
                <div class="img">
                    <img src="../../assets/IMG_7099%20-%20Copy.JPG" alt="My face :)" class="profileimg mx-auto d-block">

                </div>
                <div class="urls">
                    <div class="socials">
                        <a href="https://www.linkedin.com/in/brian-kungl-77b635133/" class="fa fa-linkedin"></a>
                        <a href="https://github.com/bkungl/" class="fa fa-github"></a>
                    </div>

                </div>


            </div>


            <div class="right col-lg-6 ">

                <div class="title">
                    <h1>BRIAN KUNGL</h1>

                </div>

                <div class="shortbio text-center">
                    <p>Hello! My name is Brian, I'm a graduate student studying cybersecurity and computer science. Right now, I'm finishing my thesis studying exploit development for Ada95. My expected graduation is October 1, 2020 and I'm hoping to find a software developer role.</p>
                    <br>
                    <p>Check out the <a routerLink="/resume"> Resume tab </a> for my experiences, project portfolio, and more! Thanks so much for the visit :)</p>
                    <br>
                    <p>You can most easily reach me at bkungl15@gmail.com</p>
                </div>
            </div>



            <!-- Image by default is displayed as inline-block, you need to display it as block in order to center it with .mx-auto. This can be done with built-in .d-block -->


        </div>


        <div class="">

        </div>
    </div>
    <div class="more text-center row">
        <mat-panel-description class="moreText text-center">Or, find out more about me below</mat-panel-description>
    </div>
    <div class="section2">

    </div>
</div>
