.hold {}

.section1 {

    margin-top: -15px;
    min-height: 82vh;
    /*min-width: 100vh;*/

    background-color: azure;
}

.intro {
    padding-top: 50px;
}

.section1 h1 {
    font-size: 32px;
}

.section1 p {
    font-size: 18px;
    line-height: 30px;
}

.title {
    text-align: center;
    margin-top: 40px;
}

.intro {
    margin-top: 15px;

}

.socials {}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}

.urls {
    margin-top: 25px;
}

.profileimg {
    border-radius: 40%;
    max-width: 25vw;
}

.more {
    background-color: azure;
    padding-bottom: 4vh;
}

.moreText {
    font-size: 18px;
}

.section2 {
    min-height: 100vh;
}
