<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="hold ">
    <div class="section1">
        <!--instead of mx-auto and d block, can do text-center on cointianer -->
        <div class="intro row">

            <div class="left col-lg-4 offset-lg-1 col-sm-12 col-xs-12">
                <div class="img">
                    <img src="../../assets/IMG_7099%20-%20Copy.JPG" alt="My face :)" class="profileimg mx-auto d-block">

                </div>
                <div class="title">
                    <h1>BRIAN KUNGL</h1>

                </div>

                <div class="socials text-center">
                    <a href="https://www.linkedin.com/in/brian-kungl-77b635133/" class="fa fa-linkedin"></a>
                    <a href="https://github.com/bkungl/" class="fa fa-github"></a>
                    <a href="mailto: bkungl15@gmail.com" class="fa fa-envelope"></a>
                </div>

            </div>


            <div class="right col-lg-6 offset-lg-0  col-sm-10 offset-sm-1 col-10 offset-1">

                <div class="shortbio text-center">
                    <p><strong>Hello! </strong> My name is Brian. I'm a graduate student studying cybersecurity and computer science. Right now, I'm finishing my thesis researching exploit development for Ada on Linux. My expected graduation is October 1, 2020 and I'm hoping to find a software developer role.
                    </p>
                    <br>
                    <p>Check out the <a routerLink="/resume"> Resume tab</a> for my experiences, project portfolio, and more! Thanks so much for the visit :)</p>
                    <br>
                    <p>You can most easily reach me at bkungl15@gmail.com</p>
                </div>

                <!-->
                <div class="more text-center row">
                    <mat-panel-description class="moreText text-center">Or, find out more about me below</mat-panel-description>
                </div>
                <!/-->
            </div>

        </div>


        <div class="">

        </div>
    </div>



    <!-->
    <div class="carouselheader gradient">
        <h1 class="text-center">My life</h1>

    </div>
</!-->

    <div class="section2">
        <!--><img src="../../assets/eye.JPG" class="imgt" alt="Responsive image"><!/-->

    </div>


    <div class="section3">
        <div class="row">
            <div class="city col-12 col-lg-5 offset-lg-1 col-md-12 col-sm-12 col-xl-5 offset-xl-1">
                <div class="desktop city ">
                    <div class="desktop-top">
                        <div id="circles">
                            <div id="c1" class="circle"></div>
                            <div id="c2" class="circle"></div>
                            <div id="c3" class="circle"></div>
                        </div>
                    </div>
                    <!--Insert Image Here-->
                    <div class=" text-center">
                        <div class="card">
                            <div class="imgctn">
                                <img src="../../assets/cityuni.jpg" class="card-img-top" alt="...">
                            </div>

                            <div class="card-body">
                                <h3 class="card-title">City, University of London '20</h3>
                                <p class="card-text">Cybersecurity, MSc</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <br>

            <div class="del col-12 col-lg-5 col-md-12 col-sm-12 col-xl-5">
                <div class="desktop">
                    <div class="desktop-top">
                        <div id="circles">
                            <div id="c1" class="circle"></div>
                            <div id="c2" class="circle"></div>
                            <div id="c3" class="circle"></div>
                        </div>
                    </div>
                    <!--Insert Image Here-->
                    <div class=" text-center">
                        <div class="card udelcard">

                            <div class="imgctn">
                                <img src="../../assets/udellogo.png" class="card-img-top udelimg" alt="...">
                            </div>

                            <div class="card-body">
                                <h3 class="card-title">University of Delaware '19</h3>
                                <p class="card-text">Computer Science, BS</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>



    <div class="section4">

    </div>
</div>
