.hold {
    max-width: 96vw;
}

.section1 {

    margin-top: -15px;
    min-height: 94vh;
    /*min-width: 100vh;*/

}

.img {
    margin-top: 20px;
}

.intro {
    margin-top: 50px;
}

.section1 h1 {
    font-size: 32px;
}

.section1 p {
    font-size: 18px;
    line-height: 30px;
}

.title {
    text-align: center;
    margin-top: 40px;
}

.intro {
    margin-top: 15px;

}



.fa {
    padding: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}

.socials {
    margin-top: 10px;
}

.profileimg {
    border-radius: 40%;
    max-width: 25vw;
}

.more {
    /*margin-top: 20vh;*/

}

.moreText {
    font-size: 18px;
}

.section2 {
    margin-top: 2px;
    height: 100vh;
    width: 99vw;

    background-image: url(../../assets/eye.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section2 {
    height: 100vh;
}

.carusel-item {}

.right {
    /*margin-top: 3rem;*/

}

.carouselheader {
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-control-prev {
    margin-bottom: -100px;
}



.carousel {
    max-height: 60vh;
}

/*make margin only on large in future*/
.shortbio {
    margin-top: 15vh;
}

.imgt {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 90vh !important;
}

.gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 61, 0.717506985704438) 52%, rgba(0, 212, 255, 1) 100%);

    color: white;
}


.section4 {
    margin-top: 2px;
    height: 100vh;
    width: 100vw;

    background-image: url(../../assets/pair.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*desktop browser window objects*/
.desktop {
    background: #bfbfbf;
    border: solid #bfbfbf;
    border-top-width: 10px;
    border-bottom-width: 4px;
    border-radius: 10px;
    height: 400px !important;
    margin: auto;


    width: 400px !important;
}

.desktop img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Circles */
#circles {
    margin-left: 5px;
    margin-bottom: 5px;
}

.circle {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 100%;
    display: inline-block;

    margin-right: 5px;
}

#c1 {
    background: #FCB0AC;
}

#c2 {
    background: #FEE48E;
}

#c3 {
    background: #E3EFC6;
}



/*mobile sizes*/
@media only screen and (max-width: 540px) {
    .shortbio {
        margin-top: 50px !important;
    }

    .section3 {
        margin-left: 10px !important;

    }

    .desktop {
        width: 300px !important;

    }

    .del {
        margin-top: 50px !important;
    }

    .section1 p {
        font-size: 14px !important;
    }

    .section2 {
        max-height: 0px !important;
    }

    .section4 {
        max-height: 0px !important;
    }

}



/*  just bigger than mobile Sizes */
@media only screen and (min-width: 541px) and (max-width: 720px) {

    .shortbio {
        margin-top: 50px !important;
    }



    .imgt {
        width: 100%;
    }

    .section3 {
        /*margin-left: 3%;*/
        margin-left: 5px !important;

    }

    .del {
        margin-top: 50px !important;
    }

    .city {
        margin-bottom: 20px !important;
    }

}



/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 721px) and (max-width: 990px) {

    .section1 {
        min-height: 1050px !important;
    }

    .shortbio {
        margin-top: 10px !important;
    }

    .section2 {
        margin-top: -20vh;
    }

    .imgt {
        width: 100%;
    }

    .section3 {
        /*margin-left: 10% !important;*/
        margin-left: 15px !important;



    }

    .del {
        margin-top: 50px !important;

    }

    .city {
        /*margin-left: 5px !important;*/
    }

}



/*big monitor*/
@media only screen and (min-width: 991px) {
    .section1 {
        margin-top: 8% !important;
        max-height: 80vh;
    }

    .section1 .shortbio {
        margin-top: 10%;
    }
}




.section3 {
    margin-top: 50px;
    margin-bottom: 50px;
}


.card-img-top {
    /*width: 80% !important;
    margin-left: 10%;
*/
    width: 80% !important;
}

.card {
    height: 350px !important;
}

.udelimg {
    padding-top: 50px;
    padding-bottom: 40px;
}


.del {}

.city {
    /* margin-right: -30px;*/
}
