<p>
    <mat-toolbar>
        <button mat-button [matMenuTriggerFor]="menu" class="btn">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/">
                <span>About Me</span>
            </button>
            <button mat-menu-item routerLink="/resume">
                <span>Resume</span>
            </button>
            <button mat-menu-item routerLink="/contact">
                <span>Contact Info</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</p>
