<div class="container">
    <!--<div class="nav">
        <div class="homebtn">
            <button>HOME</button>
        </div>
        
        <div class="navlinks">
            <button>Contact</button>
            <button>About</button>
            <button>Resume</button>
            <button>Blog</button>
        </div>
    </div>-->

    <div class="background">
        <img class="img" src="../../../assets/single.jpg">
        
    </div>
    
    <div class="jumboheader">
        <div class="nameheading">
            Brian Kungl 
        </div>
        <div class="subheadings">
            Application Security | Lightweight Rowing | Software Development
        </div>
    </div>
</div>