<div class="container">

    <!-->I want this component to have a toggle to show the basic resume, my learning graph for skills/tech, and my project portfolio <!/-->
    <div class="col">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">Resume</mat-button-toggle>
            <mat-button-toggle value="italic">Learning Graph</mat-button-toggle>
            <mat-button-toggle value="underline">Project Portfolio</mat-button-toggle>
        </mat-button-toggle-group>
    </div>



</div>
<hr>
