<div class="container">
    <div class="workheader text-center ">
        <h2>Work Experience</h2>
    </div>
    <hr>

    <div class="text-center col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-lg-8 offset-lg-2 col-xs-10 offset-sm-2">
        <div class="card" style="" *ngFor="let job of jobs; index as i;">
            <div class="card-header gradient">
                <h6 class="card-date">{{job.startDate}} - {{job.endDate}} </h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{job.jobTitle}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{job.employer}}: {{job.location}}</h6>

                <hr>
                <p class="card-text">{{job.shortDescription}}</p>

                <mat-expansion-panel hideToggle class="panel">
                    <mat-expansion-panel-header class="row">
                        <mat-panel-description class="offset-lg-5 offset-md-4 offset-sm-3 text-center">
                            <p>Read More</p>
                        </mat-panel-description>

                    </mat-expansion-panel-header>
                    <ul>
                        <li *ngFor="let details of job.moreDetails; index as j" style="margin-bottom: 1rem;">{{job.moreDetails[j]}}</li>
                    </ul>
                </mat-expansion-panel>


            </div>
        </div>

    </div>


</div>
