<div class="container">
    <div class="workheader text-center ">
        <h2>Work Experience</h2>
    </div>
    <hr>

    <div class="text-center col-md-6 offset-md-4 col-sm-6 offset-sm-4 col-lg-6 offset-lg-3 col-xs-10 offset-sm-2">
        <div class="card" style="" *ngFor="let job of jobs; index as i;">
            <div class="card-header">
                <h6 class="card-date  text-muted">{{job.startDate}} - {{job.endDate}} </h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{job.jobTitle}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{job.employer}}: {{job.location}}</h6>

                <hr>
                <p class="card-text">{{job.shortDescription}}</p>

                <a href="#" class="card-linkb">Read More >></a>
            </div>
        </div>

    </div>


</div>
