<div class="container">

    <div class="row">
        <div class="title col-12 text-center">
            <h2><strong>Education</strong></h2>
        </div>
        <hr>

        <div class="graduateCtn card col-md-5 col-sm-12 offset-md-1">
            <div class="title">
                <h3>Graduate School</h3>
                <hr>
            </div>
            <div class="degree">
                <p><strong>MSc Cybersecurity, Merit</strong> - <a href="https://s3.us-east-2.amazonaws.com/briankungl.com/assets/MSc_Dissertation_KUNGL.pdf">Exploit Development For Ada (Thesis)</a></p>
            </div>
            <div class="location">
                <div class="">
                    <p>City, University of London - London, United Kingdom</p>
                </div>


            </div>
        </div>

        <div class="undergraduateCtn card col-md-5 col-sm-12">
            <div class="title">
                <h3>Undergraduate</h3>
                <hr>
            </div>
            <div class="degree">
                <p><strong>BS Computer Science</strong> (GPA: 3.293)</p>
            </div>
            <div class="location">
                <div class="">
                    <p>University of Delaware - Newark, DE </p>
                </div>


            </div>
        </div>

    </div>
</div>
