<div class="text-center row">

    <div class="jumbotron jumbotron-fluid col-lg-10 offset-lg-1 col-10 offset-1">
        <div class="container">
            <h1 class="display-3">Skills</h1>
            <p>I've listed some of the programming languages, frameworks, software tools, and more that I've used and learned through education and work experience.</p>
        </div>
    </div>

    <div class="left mx-auto col-8 offset-2 col-lg-5 offset-lg-1 col-sm-8 offset-sm-2 col-md-6">

        <div class="card ">
            <div class="card-header gradient">
                <h2>Programming Languages</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Java</li>
                <li class="list-group-item">TypeScript</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">C++</li>
                <li class="list-group-item">C#</li>
                <li class="list-group-item">C</li>
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">PHP</li>
                <li class="list-group-item">Ada95</li>
            </ul>
        </div>


        <div class="card">
            <div class="card-header gradient">
                <h2>Frameworks</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Angular</li>
                <li class="list-group-item">Bootstrap</li>
                <li class="list-group-item">jQuery</li>
                <li class="list-group-item">Django</li>
            </ul>
        </div>

        <div class="card">
            <div class="card-header gradient">
                <h2>Data Storage</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">MySQL</li>
                <li class="list-group-item">MongoDB</li>
                <li class="list-group-item">Firebase</li>
                <li class="list-group-item">PostgreSQL</li>
            </ul>
        </div>

    </div>


    <div class="right  mx-auto col-8 offset-2 col-lg-5 offset-lg-1 col-sm-8 offset-sm-2 col-md-6">

        <div class="card">
            <div class="card-header gradient">
                <h2>Software Tools</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Wireshark</li>
                <li class="list-group-item">UNIX</li>
                <li class="list-group-item">Kali Linux</li>
                <li class="list-group-item">Snort</li>
                <li class="list-group-item">GitHub</li>
                <li class="list-group-item">Git</li>
                <li class="list-group-item">Agile</li>
                <li class="list-group-item">Scrum</li>
                <li class="list-group-item">Test Driven Development</li>
                <li class="list-group-item">Jira</li>
                <li class="list-group-item">REST</li>
                <li class="list-group-item">JSON</li>
                <li class="list-group-item">Hydra</li>
                <li class="list-group-item">Metasploit</li>
                <li class="list-group-item">John the Ripper</li>
                <li class="list-group-item">Nmap</li>
                <li class="list-group-item">OpenVAS</li>
                <li class="list-group-item">MVC</li>
                <li class="list-group-item">Visual Studio</li>
            </ul>
        </div>

    </div>





</div>
